.table-class {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-class th, .table-class td {
    /* border: 1px solid black; */
    /* border-bottom: 1px solid gray; */
    padding: 10px;
    text-align: left;
  }
  
  .table-class th {
    background-color: #f2f2f2;
  }
  